@use 'styles/tokens' as t;

.button {
  padding: 5px 16px;
  text-align: center;
  color: t.$color-dark-navy;
  background: t.$color-accent-yellow;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  width: max-content;
  border-radius: t.$radius-button;

  &:hover:not(:disabled) {
    filter: contrast(1.1);
  }

  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid t.$color-dark-navy;

  &.disabled {
    opacity: 0.7;
    cursor: default;
  }

  &.primary {
    background: t.$color-accent-yellow;
  }

  &.secondary {
    background: t.$color-brand-blue;
    color: white;
  }

  &.danger {
    background: #e02045;
    color: white;
    svg {
      stroke: white;
      margin-right: 5px;
    }
  }

  &.transparent {
    background: transparent;
  }

  &.invert {
    background: transparent;
    border-color: t.$color-accent-yellow;
    color: t.$color-accent-yellow;

    &.primary {
      border-color: t.$color-accent-yellow;
      color: t.$color-accent-yellow;
    }

    &.secondary {
      border-color: t.$color-brand-blue;
      color: t.$color-brand-blue;
    }

    &.danger {
      border-color: #e02045;
      color: t.$color-dark-navy;
    }
  }
}
