@use 'styles/tokens' as t;

.form {
  display: flex;
  flex-wrap: wrap;
}

.formSection {
  flex: 50%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  @media screen and (max-width: 1024px) {
    flex: 100%;
    width: 100%;
  }
}

.formError {
  padding: 0 24px;
  text-align: right;
  color: red;
}

.formInput {
  margin-bottom: 2.5em;
  width: 100%;
  position: relative;

  .formInputLabel {
    font-size: 18px;
    margin-bottom: 6px;
    display: flex;
    color: t.$color-form-label;
  }

  .formInputError {
    color: red;
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

  .formInputLegend {
    width: 80%;
    flex: 100%;
    font-size: 14px;
    color: t.$color-form-legend;
    top: 90%;

    @media screen and (min-width: 1024px) {
      position: absolute;
    }
  }

  &.inline {
    display: flex;
    flex-wrap: wrap;

    .formInputLabel {
      display: flex;
      margin-bottom: 0;
      align-items: center;
    }

    .formInputValue {
      width: max-content;
      margin-left: auto;
      display: flex;
    }
  }

  .formInputValue {
    width: 100%;
    input {
      width: 100%;
    }
  }

  input {
    border: 1px solid t.$color-input-border;
    border-radius: t.$radius-input;
    outline: none;
    background: white;
    color: t.$color-dark-navy;
    font-size: 15px;
    padding: 8px 10px;

    &[type="number"] {
      max-width: 60px;
      text-align: right;
    }
  }
}

.formSectionTitle {
  width: 100%;
  background: t.$color-section-title-bg;
  font-size: 20px;
  text-align: center;
  flex: 100%;
  padding: 0.2em 0;
}

.formSectionContent {
  padding: 12px 16px;
  width: 100%;
}

.formFooter {
  display: flex;
  text-align: right;
  padding: 16px;
  width: 100%;
  flex: 100%;
  align-items: center;
  place-content: center end;
}
