@use 'styles/tokens' as t;

.table {
  width: 100%;
  border-collapse: collapse;

  tr,
  th {
    height: 55px;
    font-size: 20px;
  }

  &.slim {
    tr,
    th {
      height: 40px;
    }
  }

  thead {
    background-color: t.$color-table-header-bg;

    th {
      color: t.$color-table-header-text;
      font-weight: 600;
      text-align: left;
      padding: 6px 12px;

      &.bold {
        font-weight: bold;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 6px 12px;
        font-size: 20px;

        &.bold {
          font-weight: bold;
        }
      }
    }
  }

  td,
  th {
    &.LEFT {
      text-align: left;
    }

    &.CENTER {
      text-align: center;
    }

    &.RIGHT {
      text-align: right;
    }
  }

  &.stripped {
    tbody tr:nth-child(2n + 1) {
      background-color: t.$color-table-stripe;
    }
  }

  @media screen and (max-width: 1024px) {
    .hideInMobile {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    td, th {
      font-size: 14px;
    }
  }

  tr {
    &.clickable:hover {
      background: t.$color-table-stripe;

      * {
        cursor: pointer;
      }
    }
  }
}

.pagination {
  display: flex;
  font-size: 24px;

  a {
    padding: 4px;
    border-radius: 4px;
    font-size: 40px;
    line-height: 24px;

    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
  }

  .paginationNumber {
    padding: 4px 4px;
    color: white;
  }
}
