@use 'styles/tokens' as t;

.warning {
  background: t.$color-warning-bg;
  color: t.$color-warning-text;
  margin: 24px auto 12px auto;
  display: flex;
  padding: 12px;
}

.offset {
  @media screen and (max-width: 1024px) {
    margin-bottom: 48px;
  }
}

.warningIcon {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.warningContent {
  a {
    color: t.$color-warning-text;
    text-decoration: underline;
  }
}
