@use 'styles/tokens' as t;

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  background: t.$color-card-body;
  border-radius: t.$radius-card;
  box-shadow: t.$shadow-card;

  .cardTitle {
    padding: 6px 0;
    text-align: center;
    color: t.$color-card-header-text;
    background: t.$color-card-header;
    position: relative;

    font-size: 20px;
    font-weight: bold;

    min-height: 40px;

    display: flex;

    width: 100%;

    align-content: center;
    place-content: center;
    align-items: center;

    border-radius: t.$radius-card t.$radius-card 0 0;
  }

  .cardFooter {
    display: flex;
    place-content: center;
    padding: 16px;
  }

  &.slim {
    .cardTitle {
      font-size: 16px;
      font-weight: normal;
    }
  }

  .cardContent {
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
}
