.container {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  @media screen and (min-width: 600px) {
    padding: 16px 16px;
  }

  width: 90%;
  min-width: 80%;
  margin: 0 auto auto;

  &.noPadding {
    padding: 0;
  }

  & > * {
    margin: 0 auto;
  }

  &.directionCol {
    flex-direction: column;
  }

  &.full {
    min-width: 100%;
    width: 100%;
  }

  &.narrow {
    width: 100%;
    min-width: unset;
    max-width: 560px;
  }
}

header + .container {
  margin-top: 32px;
}
